#privacyPolicyDiv {
    display: block;
}

#loginDiv {
    display: none;
}

#lobby0Div {
    display: none;
}

#lobby1hostDiv {
    display: none;
}

#lobby1playerDiv {
    display: none;
}

#errorDiv {
    display: none;
}

.warn {
    background-color: orange;
    color: black;
}

.error {
    background-color: red;
    color: black;
}

.success {
    background-color: lime;
    color: black;
}